# Dependencies
node_modules/
*/node_modules/

# Build output
frontend/build/
frontend/.env
backend/.env

# Zip files
*.zip

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.production
